.jumbotron-fluid {
    margin-top: 54px;
}


#canvas {
	display: block;
	z-index: -1;
    background-color: black;
    height: 200px;
    width: 800px;
}

#blockCont {
    padding-top: 40px;
    padding-bottom: 40px;
}

#inlineCont {
    background-color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}